@use '@/scss/variables.scss' as *;

.component {
  gap: 20px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .param {
    flex: 1;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    &.positive {
      color: $positive-color;
    }
    &.negative {
      color: $primary-color;
    }
  }
}
